.gamefield {
    color: orange;
    background-color: darkslateblue;
    height: 600px;
    width: 600px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: "American Typewriter";
}
